/*----------
#4aaaa5
#777
#fff
#ccc
#666
#ddd
-----------*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

body {
    margin: 0 auto;
    line-height: 1.6rem;
    color: #8A888A;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/what-the-hex.png");
    background-color: #ebebeb;
    background-repeat: repeat;
    min-height: 100%;
    position: relative;
}

/*  Type */

h1,
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
}

/***************************** Header ******************************/

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.header-content {
    /* width: 80%; */
    max-width: 960px;;
    margin: 0 auto;
}

header a {
    text-decoration: none;
}
.logo h1 {        
    background-color: #4aaaa5;
    padding: 20px 30px;
    color: #fff;
    margin: 0;
}
nav ul {
    padding: 0 20px
}
nav li {
    display: inline;
    padding: 0 15px;
    border-right: 1px solid #eee;
}
nav li:last-child {
    border: none;
}

nav a {
    color: #333;
}

nav a:hover {
    color: #666;
    transition-property: color;
    transition-delay: .1s;
}

/***************************** Content ******************************/

section {
    background-color: #fff;
    padding: 25px 25px 100px;
    max-width: 960px;
    width: 80%;
    margin: auto;
}

.main h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-top: 0;
}

/***************************** About ******************************/

    /* .about img {
        padding: 8px 30px 15px 0;
        float: left;
    } */

/***************************** Portfolio ******************************/

.project {
    position: relative;
    color: #fff;
    margin: 30px 0;
}
.project img {
    width: 100%;
}

.project-title {
    background-color: #4aaaa5;
    position: absolute;
    text-align: center;
    bottom: 5px;
    width: 100%;
    padding: 10px 0;
}

/***************************** Contact ******************************/

input {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.text-area {
    height: 150px;
}

.btn {
    border: none;
    background-color: #4aaaa5;
    color: #fff;
    padding: 8px 22px;

}

/***************************** Footer ******************************/

footer {
    position: absolute; 
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #eee;
    padding-bottom: 5px;
    margin-top: 80px;

}

footer p {
    margin: 30px 0 0;
}

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .about img {
        width: 100%;
    }
    .project {
        width: 100%;
        float: none;
    }    
 }

/* / Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .header-content {
        width: 80%;
    }
    .logo {
        float: left;
        font-size: 80%;
    }
    nav {
        float: right;
    }
    .about img {
        padding: 8px 30px 15px 0;
        float: left;
    }
    .project {
        width: 45%;
        float: left;
    }
    .project:nth-child(odd) {
        margin-right: 9%;
    }
    .project:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        transition-property: transform box-shadow;
        transition-duration: .3s;
    }
    .project:active {
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .project {
        width: 27%;
        float: left;
        margin-right: 9%;
    }
    .project:nth-child(3n+3) {
        margin-right: 0;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }